:root { /* defining global variables */
    --color-primary: #2584ff;   /*background*/
    --color-secondary: #00d9ff; /*background*/
    --color-accent: #ff3400;    /*background*/
    --color-headings: #1b0760;  /*text*/
    --color-body: #918ca4;      /*text*/
}